.movie-info__main {
  background-color: #080808;
  box-shadow: -2px 0px 5px #fffc;
  color: white;
}

.movie-info__artc {
  background-color: #fff8;
  box-shadow: 5px 5px 5px #0003;
  color: black;

  position: relative;

  margin: 0 auto;
  padding: 2rem;
  height: calc(100vh - 96px);
  width: 80%;

  box-sizing: border-box;
  z-index: 0;
}

.movie-info__backdrop {
  object-fit: cover;

  position: absolute;
  top: 0;
  left: 0;

  height: calc(100vh - 96px);
  width: 100%;

  z-index: -1;
}

.movie-info__title {
  background-color: #0006;
  color: white;
  font-size: 3rem;
  text-align: center;

  width: 100%;
}

.desc__div {
  background-color: #fffb;
  border-radius: 0.5rem;
  overflow: hidden;

  gap: 3rem;

  margin: 1rem auto;
  width: 80%;
}

.movie-info__banner {
  max-height: 400px;
  max-width: 50%;
}

.text__div {
  width: 40%;
}

.sub-title {
  font-weight: 500;
  text-transform: uppercase;
}

.original__title {
  text-align: center;
}

.sinopse__title {
  text-align: justify;
}

.release-date__span::before {
  content: "Data de estreia: ";
}

.rating__span::before {
  content: "Avaliação Geral: ";
}

.genres__span::before {
  content: "Gêneros: ";
}

.btns__div {
  width: 100%;
}

.btn {
  cursor: pointer;
}

.action__btn {
  background-color: #000;
  color: #fff;

  border: none;
  border-radius: 0.2rem;

  margin: 0.5rem;
  padding: 1rem 2rem;
}
