main {
  background-color: #eee;
}

.movies__sect {
  background-color: #ddd3;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;

  margin-inline: auto;
  padding: 1rem;
  width: 80%;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  cursor: pointer;

  box-sizing: border-box;

  margin: 2rem 0;
  height: 300px;
  width: 80%;
  max-width: 300px;
}

.title {
  background-color: #000;
  color: white;
  font-weight: 700;
  text-transform: uppercase;

  box-sizing: border-box;
  display: block;

  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  padding: 0.5rem 0.5rem;

  width: 100%;
}

.img {
  display: block;

  object-fit: cover;

  max-height: 300px;
  width: 300px;
}

a.movie__link {
  background-color: #000;
  display: block;

  box-sizing: border-box;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;

  color: white;
  text-decoration: none;

  padding: 0.5rem 1rem;
  width: 100%;
}
