.my-list__sect {
  padding: 1rem 2rem;
}

.my-list__artc .title {
  text-align: left;
  padding-left: 1rem;
}

.remove__btn {
  border: none;
  border-radius: 0.5rem;
  background-color: #0003;
  color: white;

  position: absolute;
  top: 0.5rem;
  right: 0;
  z-index: 10;
  padding: 0.5rem 1rem;
}
